#one

{
	width:400px;
	height:100px;
	background:white;
	position:relative;
	top:600px;
	left:550px;
	border:2px solid black;
	
	
}

#two
{
	
	width:100px;
	height:100px;
	background:white;
	position:relative;
	top:300px;
	left:700px;
	border:2px solid black;
	
}

#three{
	
	
	width:100px;
	height:100px;
	background:white;
	position:relative;
	top:50px;
	left:500px;
	border:2px solid black;
	border-radius: 80px;
}
#four
{
	
	
	width:100px;
	height:100px;
	background:white;
	position:relative;
	top:-50px;
	left:900px;
	border:2px solid black;
	border-radius: 80px;
	
}